<footer class="bg-dark pt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-3"></div>
      <div class="col-sm-12 col-lg-6"></div>
      <div class="col-sm-12 col-lg-3">
        <div class="footer-idcard p-2">
          <div class="img rounded-circle">
            <img
              class="rounded-circle"
              src="https://fakeimg.pl/100x100/?text=Logo"
              alt=""
            />
          </div>
          <span class="name-zh">源品香企業行</span>
          <span class="name-en">YuanPinXiang Enterprise Company</span>
          <hr />
          <p class="info">
            <a
              href="https://maps.app.goo.gl/sNv9uLGrZc8A2SBw8"
              target="_blank"
              class="text-decoration-none"
              class=""
              >雲林縣西螺鎮新宅1之9號
              <i class="bi bi-box-arrow-up-right"></i>
              <br />
              (三汴頭榕樹公)
            </a>
          </p>
          <hr />
          <div class="d-flex justify-content-center gap-3">
            <a
              href="https://line.me/ti/p/~0chuan"
              class="text-white rounded-circle bg-success d-flex align-items-center justify-content-center"
              style="width: 40px; height: 40px"
              target="_blank"
            >
              <i class="bi bi-line"></i>
            </a>
            <a
              href="https://www.instagram.com/x._.1105._.q/"
              class="text-white rounded-circle bg-primary d-flex align-items-center justify-content-center"
              style="width: 40px; height: 40px"
              target="_blank"
            >
              <i class="bi bi-facebook"></i>
            </a>
            <a
              href="https://www.facebook.com/cheng.1105.chuan"
              class="text-white rounded-circle bg-danger d-flex align-items-center justify-content-center"
              style="width: 40px; height: 40px"
              target="_blank"
            >
              <i class="bi bi-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="copyright">
    <div class="text-center text-white mt-3">
      <span style="font-size: 10pt">
        建議您使用Google Chrome、FireFox 瀏覽，以達到最佳瀏覽效果
      </span>
      <span style="font-size: 10pt">Ver.20250507.001</span>
      <span style="font-size: 10pt">
        Copyright © 2025 chuan.life. All Rights Reserved.
      </span>
    </div>
    <div class="text-center text-white"></div>
  </section>
  <div></div>
</footer>
