<!-- footer -->
<footer class="bg-dark">
  <div class="container">
    <div class="row py-5">
      <div class="col-sm-12 col-lg-3 my-3">
        <h5 style="color: #f8f9fa; border-bottom: 2px dotted #cacbcc">
          品牌資訊
        </h5>
      </div>
      <div class="col-sm-12 col-lg-3 my-3">
        <h5 style="color: #f8f9fa; border-bottom: 2px dotted #cacbcc">
          網站地圖
        </h5>
      </div>
      <div class="col-sm-12 col-lg-6 my-3">
        <h5 style="color: #f8f9fa; border-bottom: 2px dotted #cacbcc">
          商品分類
        </h5>
      </div>
    </div>
  </div>
  <div class="bg-dark text-center" style="color: #f8f9fa">
    建議您使用 Google Chrome、Microsoft Edge 瀏覽，以達到最佳瀏覽效果<br />Copyright
    © 2025
    <a href="https://chuan.life" style="color: #f8f9fa">chuan.life</a> All
    Rights Reserved.
  </div>
</footer>
