<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="/index.html">源品香</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/example.html">範例</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">公司介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">產品介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">影音專區</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">聯絡購買</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">最多七個</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="banner banner-homepage" style="border-bottom: 5px solid rgb(216, 172, 71);">
    <div
      class="text-center p-3"
      style="background-color: rgb(51, 52, 53, 0.2); width: 100%"
    >
      <span class="title">誠信×深耕×精緻×守法</span>
      <p class="banner-text">我是內文</p>
    </div>
    <div class="scroll-down">
      <span>向下瀏覽</span>
      <i class="bi bi-chevron-double-down scroll-icon"></i>
    </div>
  </div>

  <div class="banner banner-otherpage" style="border-bottom: 5px solid rgb(216, 172, 71);">
    <div
      class="text-center p-3"
      style="background-color: rgb(51, 52, 53, 0.2); width: 100%"
    >
      <span class="title">誠信×深耕×精緻×守法</span>
    </div>
  </div>

  <!-- breadcrumb -->
  <div class="bg-light" style="border-bottom: 5px solid rgb(216, 172, 71);">
    <div class="container p-3">
      <div class="row m-0">
        <div class="col-6 text-start h4">首頁/範例</div>
        <div class="col-6 text-end">首頁/範例</div>
      </div>
    </div>
  </div>

  <button id="backToTop" class="back-to-top" title="回到頂部">TOP</button>
</header>
