<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white fixed-top custom-navbar"
  >
    <div class="container">
      <a class="navbar-brand" href="/index.html">源品香</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/example.html">範例</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">公司介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">產品介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">影音專區</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">聯絡購買</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">最多七個</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="banner banner-homepage">
    <h1 class="banner-title">可輸入五十個字，一行建議十五字</h1>
    <div class="separator"></div>
    <div class="scroll-down">
      <span>向下瀏覽</span>
      <i class="bi bi-chevron-double-down scroll-icon"></i>
    </div>
  </div>

  <div class="banner banner-otherpage">
    <h1 class="banner-title">範例</h1>
    <div class="separator"></div>
  </div>

  <breadcrumb></breadcrumb>
  <pageTitle></pageTitle>
</header>
