<nav class="navbar navbar-expand-lg fixed-top navbar-custom">
  <div
    class="container-fluid container d-flex align-items-center justify-content-between"
  >
    <!-- Logo & 公司名稱 -->
    <a class="navbar-brand text-white fw-bold" href="/index.html">
      <img
        src="https://fakeimg.pl/50"
        alt="logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top me-2"
      />
      源品香
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Middle links -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link m-2 text-center" href="/index.html">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 text-center" href="/brand.html" aria-disabled="true">品牌介紹</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 text-center" href="/product.html" aria-disabled="true">產品介紹</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 text-center" href="/media.html" aria-disabled="true">影音專區</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 text-center" href="/about.html">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 text-center" href="/standard.html">樣板-頁面</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="nav-link nav-contact m-2 text-center" href="/contact.html"
          >聯絡我們</a
        >
      </div>
    </div>
  </div>
</nav>

<!-- JavaScript -->

<!-- 當夜面滾動後，更改 navbar 背景 -->
<script>
  window.addEventListener("scroll", function () {
    const navbar = document.querySelector(".navbar");
    if (window.scrollY > 10) {
      navbar.classList.add("navbar-scrolled");
    } else {
      navbar.classList.remove("navbar-scrolled");
    }
  });
</script>
