/* base.css */
/* 基本樣式，包含字型、顏色、排版等設定 */



/* 導入 Google Noto Sans 字型 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

body {
  font-family: "Noto Sans TC", sans-serif;
  color: rgb(51, 52, 53, 1);
  background-color: rgb(241, 242, 243, 1);
}
