/* components.css */
/* 元件樣式，包含按鈕、表單、卡片等元件的樣式設定 */

/* ========== 所有樣式目錄 ==========
 * A. 按鈕樣式目錄
 * B. 卡片樣式目錄
 * C. 分隔線樣式目錄
 * D. 
 * E. 
 * F. 
*/

/* ========== A. 按鈕樣式目錄 ==========
 * 001. 神來一筆按鈕 (use at: home page info card view more buttom)
 * 002. 從中間下方往上展開(usse at: home page news buttom )
 * 003. 
 * 004. 
 * 005. 
*/

/* 001. 神來一筆按鈕 */
.type--A {
  --line_color: #555555;
  --back_color: #ffecf6;
}
.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}
.type--C {
  --line_color: #00135c;
  --back_color: #defffa;
}
.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}
/* by himanshu9682 from uiverse.io
 * This file is licensed under the MIT License.
 * See the full license at uiverse.io/himanshu9682/wise-shrimp-26.
*/

/* 002. 從中間下方往上展開 */
.btn-container {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button:not(:last-child) {
  margin-bottom: 64px;
}
/* by cssbuttons.io from uiverse.io
 * This file is licensed under the MIT License.
 * See the full license at uiverse.io/cssbuttons-io/calm-tiger-42.
*/

/* ========== B. 卡片樣式目錄 ==========
 * 001. 帶縮移入縮效果的卡片01 (use at: product list page)
 * 002. 資訊卡片01 (use at: home page info)
 * 003. 影片卡片01 (use at: media page youtube iframe)
 * 004. 
 * 005. 
*/

/* 001. 帶縮移入縮效果的卡片01 */
.category-card {
  text-align: center;
  border: rgb(51, 52, 53, 0.3) 1px solid;
  border-radius: 10px;
  transition: transform 0.3s ease;
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  span {
    font-size: 1rem;
    font-weight: 600;
  }
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(51, 52, 53, 0.1);
}

/* 002. 資訊卡片01 */
/* infobox 區塊 */
.infobox {
  display: flex;
  margin: 1rem 0;
}

/* infobox 寬度 */
.infobox-w10 {
  width: 10dvw;
}
.infobox-w20 {
  width: 20dvw;
}
.infobox-w30 {
  width: 30dvw;
}
.infobox-w40 {
  width: 40dvw;
}
.infobox-w50 {
  width: 50dvw;
}
.infobox-w60 {
  width: 60dvw;
}
.infobox-w70 {
  width: 70dvw;
}
.infobox-w80 {
  width: 80dvw;
}
.infobox-w90 {
  width: 90dvw;
}
.infobox-w100 {
  width: 100dvw;
}

/* infobox 內部元素 */
.infobox-w10,
.infobox-w20,
.infobox-w30,
.infobox-w40,
.infobox-w50,
.infobox-w60,
.infobox-w70,
.infobox-w80,
.infobox-w90,
.infobox-w100 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 49dvh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

/* infobox 標題 */
.infobox .infobox__title {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #1b3087;
  word-wrap: break-word; /* 長單字斷行 */
  white-space: normal; /* 允許空白和換行 */
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}

/* infobox 描述 */
.infobox .infobox__description {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1b3087;
  word-wrap: break-word; /* 長單字斷行 */
  white-space: normal; /* 允許空白和換行 */
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}

/* infobox 小螢幕時寬度 */
@media (max-width: 991.98px) {
  .infobox {
    flex-direction: column;
  }
  .infobox-w10,
  .infobox-w20,
  .infobox-w30,
  .infobox-w40,
  .infobox-w50,
  .infobox-w60,
  .infobox-w70,
  .infobox-w80,
  .infobox-w90,
  .infobox-w100 {
    width: 100%;
    height: auto;
  }
}

/* 003. 影片卡片01 */


/* 分隔線樣式目錄
 * 001. 分隔線01--上下3px solod
 * 002. 
 * 003. 
 * 004.
 * 005.
*/

/* 001. 分隔線01--上下 */
.blockline--TopBottom {
  border: 3px, solid, rgb(216, 172, 71);
  border-left: none;
  border-right: none;
}

