.footer-idcard {
  background: #fafbfc;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 1rem;
}

.footer-idcard .img {
  width: 100px;
  height: 100px;
  margin: 0px auto 0 auto;
}

.footer-idcard .name-zh {
  color: #1a1b1c;
  text-align: center;
  display: block;
}

.footer-idcard .name-en {
  color: #1a1b1c;
  text-align: center;
  font-size: 0.6rem;
  display: block;
}

.footer-idcard hr {
  border: none;
  height: 3px;
  background: linear-gradient(0.25turn, #217da5, #82a865, #ff9c32);
  width: 95%;
  margin: 0 auto 0 auto;
}

.footer-idcard .info {
  font-weight: 400;
  color: #515253;
  display: block;
  text-align: center;
  font-size: 0.8em;
  margin: 0 auto 0 auto;
}

.footer-idcard .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.footer-idcard a {
  color: #515253;
  transition: 0.4s ease-in-out;
}

.footer-idcard a:hover {
  color: #fa0203;
}

.footer-idcard button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #515253;
  color: #fafbfc;
  transition: 0.4s ease-in-out;
}

.footer-idcard button:hover {
  background: #fa0203;
  color: #fafbfc;
  cursor: pointer;
}


