/* 這是全局樣式，適用於整個網站 */
/* 
 * 
 */

 body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif; /* 使用 Noto Sans TC 字體 */
  padding-top: 0px; /* 設定 padding-top 為 0px ， 避免被navbar遮擋 */
  --color: #e1e2e3; /* 預設顏色 */
  background-color: #f3f3f3; /* 預設背景顏色 */
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

/* mediaCard */
.mediaCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fafbfc;
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(51, 52, 53, 0.08),
    -4px -4px 12px rgba(51, 52, 53, 0.08);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
}

.mediaCard:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(51, 52, 53, 0.1),
    -4px -4px 12px rgba(51, 52, 53, 0.08);
}

.mediaCard .imgContainer {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgb(161, 162, 163);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaCard .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mediaCard .videoIcon {
  font-size: 40px;
}

.mediaCard .title {
  margin: 0;
  font-size: 16pt;
  font-weight: 500;
  color: #2099ba;
  cursor: default;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.mediaCard .des {
  margin: 0;
  padding: 0px 0px 0px 1.8rem;
  height: 4.8rem;
  font-size: 12pt;
  font-weight: 500;
  color: #2099ba;
  cursor: default;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  position: relative; /* 為了 ::after 偽元素定位 */
}

.mediaCard .des::before {
  content: "";
  position: absolute;
  height: 4.3rem;
  width: 5px;
  margin-left: 1rem;
  left: 0;
  transform: translateY(0.25rem); /* 水平置中 */
  background-color: #2099ba;
}

.mediaCard .watchBtn {
  font-size: 16pt;
  color: #fafbfc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #0abaea;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
  gap: 1px;
  box-sizing: border-box;
  padding-left: 5px;
  margin-top: 5px;
}

.mediaCard .watchBtn:hover {
  box-shadow: 0px 10px 20px rgba(51, 52, 53, 0.06);
  width: 100%;
  border-radius: 10px;
  height: 30px;
  gap: 10px;
  padding: 0;
}

.mediaCard .watchBtnText {
  opacity: 0;
  font-size: 1px;
  font-weight: 500;
  transition: all ease-in-out 0.3s;
}

.watchBtn:hover > .watchBtnText {
  opacity: 1;
  font-size: 16px;
}

/* infoContainer */
.infoContainer {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  background-position: right center; /* 重點：背景靠右置中 */
  background-size: cover;
  height: calc(100dvh - 0px);
  width: 40dvw;
  border-bottom: 5px solid rgb(216, 172, 71);
  padding: 2rem;
}

/* button */
/* From Uiverse.io by himanshu9682 */
.type--A {
  --line_color: #555555;
  --back_color: #ffecf6;
}
.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}
.type--C {
  --line_color: #00135c;
  --back_color: #defffa;
}
.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.btn-container {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button:not(:last-child) {
  margin-bottom: 64px;
}

/*productCategoryCard */
.productCategoryCard {
  position: relative;
  border-radius: 14px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  height: 350px;
  width: 100%;
  padding: 2rem 1rem; /* 加點 padding 撐開高度 */
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;

  display: flex;
  flex-direction: column; /* 改為垂直排列 */
  align-items: center;
  justify-content: center;
  text-align: center; /* 讓 h3 文字居中 */
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.bg hr {
  width: 50%;
  margin: 0.5rem 0;
}

.bg h3 {
  margin: 0;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 350px;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}


/* infobox */
.infobox {
  display: flex;
  border-top: 3px solid #1b3087;
  border-bottom: 3px solid #1b3087;
  margin: 1rem 0;
}

.infobox--larger {
  width: 70dvw;
  height: 50dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafbfc;
}

.infobox--smaller {
  width: 30dvw;
  height: 50dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafbfc;
}

.infobox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.infobox-textcontainer {
  padding: 1rem;
}

.infobox .infobox-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.infobox p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
}

@media (max-width: 991.98px) {
  .infobox {
    flex-direction: column;
  }

  .infobox--larger {
    width: 100%;
  }

  .infobox--smaller {
    width: 100%;
  }
}

/* infobox動畫效果 */
.infobox--left, .infobox--right {
  opacity: 0;
  transform: translateX(0);
  transition: all 0.8s ease-out;
}

.infobox--left.in-view {
  opacity: 1;
  transform: translateX(0);
}

.infobox--right.in-view {
  opacity: 1;
  transform: translateX(0);
}

/* 初始偏移位置 */
.infobox--left {
  transform: translateX(100px);
}

.infobox--right {
  transform: translateX(-100px);
}

/* 在較大的螢幕上才啟用初始偏移 */
@media (max-width: 992px) { 
  .infobox--left {
    transform: translateX(0);
  }

  .infobox--right {
    transform: translateX(0);
  }
}