/* 字體設定：全站使用 Noto Sans TC 300 */
body {
  font-family: "Noto Sans TC", sans-serif;
  padding-top: 78px; /* 避免被navbar遮擋 */
  background: #EAEBEC;
}

/* 分隔線 */
.separator{
  position: absolute; /* 絕對定位分隔線於底部 */
  bottom: 0; /* 設置底部對齊 */
  left: 0; /* 分隔線從左邊0開始 */
  width: 100%; /* 分隔寬度為100% */
  height: 5px; /* 分隔線高度 */
  background-color: #d4af37; /* 分隔線顏色 */
  z-index: 1; /* 確保分隔線顯示在最上層 */
}