/* body */
body {
  font-family: "Noto Sans TC", sans-serif;
}

/* Navbar 頁面滾動後 Style */
.navbar-custom {
  background-color: rgba(50, 51, 52, 0.7);
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
}

/* Navbar 頁面滾動後 Style */
.navbar-scrolled {
  background-color: rgb(50, 51, 52) !important;
}

/* Navbar link 樣式 */
.navbar-nav .nav-link {
  color: rgb(250, 251, 252);
  padding: 0.5rem 1rem;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
}

/* Navbar link 文字 大小 */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #00b34a;
  text-decoration: underline;
}

/* Navbar Link 加斜線分隔符號 */
.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item:not(:last-child)::after {
  content: "/";
  color: rgba(251, 252, 253, 0.5);
  margin: 0 5px;
  font-size: 2rem;
  line-height: 1;
  display: inline-block;
  transform: rotate(15deg);
  pointer-events: none;
}

/* 小螢幕時隱藏斜線 */
@media (max-width: 991.98px) {
  .navbar-nav .nav-item:not(:last-child)::after {
    display: none !important;
  }
}

/* 三、聯絡我們按鈕 */
.nav-contact {
  color: #ff4d4d;
  border: 2px solid #ff4d4d;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  background-color: rgb(250, 251, 252, 0.8);
}

.nav-contact:hover {
  color: #00b34a;
  background-color: rgba(0, 179, 74, 0.1);
  border-color: #00b34a;
  background-color: rgb(250, 251, 252, 0.8);
}

.navbar-toggler {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  border-radius: 5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* 響應式：小螢幕調整 */
@media (max-width: 991.98px) {
  .nav-contact {
    width: 100%;
    margin: 0.5rem auto;
  }

  .navbar-nav .nav-link {
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
  }

  .ms-lg-3.mt-3 {
    margin-top: 0 !important;
  }
}

/* Banner */
.banner {
  width: 100vw;
  background-image: url("/assets/media/工廠街景.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(1, 2, 3, 0.7);
}

/* Banner - 滿版 */
.banner-full {
  height: 100vh;
}

/* Banner - 短版 */
.banner-short {
  height: 30vh;
}

/* Banner Tittle Style */
.banner-title {
  font-weight: bold;
  background-color: rgb(01, 02, 03, 0.2);
  border-radius: 1rem;
  display: inline-block;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
