/* Navbar Style */
.navbar-custom {
  transition: background-color 0.3s;
  background-color: rgba(1, 2, 3, 0.5);
  border-bottom: 1px solid rgba(248, 249, 250, 0.1);
  box-shadow: 0px 5px 5px rgba(1, 2, 3, 0.5);
}

/* Navbar Style - 頁面轉動後 */
.navbar-scrolled {
  background-color: black !important;
  border-color: rgba(248, 249, 250, 0.1);
}

/* Navbar Line Active */
.navbar-nav .nav-link.active {
  border: 2px dotted #00b34a;
  color: #010203;
  background-color: rgba(248, 249, 250, 1);
}

/* Navbar Line */
.navbar-nav .nav-link {
  color: #f8f9fa;
  /*字體顏色*/
  font-weight: bold;
  /*字體粗細*/
  background-color: transparent;
  /*背景顏色*/
  padding: 5px 10px;
  /*內距*/
  border-radius: 5px;
  /*邊框-半徑*/
  transition: all 0.5s ease;
  /*轉場效果*/
  border: none;
  border-bottom: 2px dotted #f8f9fa;
}

/* Navbar Line : hover */
.navbar-nav .nav-link:hover {
  color: #010203;
  /*字體顏色*/
  background-color: rgba(248, 249, 250, 0.8);
  /*背景顏色*/
  border-bottom: 2px dotted #00b34a;
}

/* Navbar Contact */
.nav-contact {
  color: #f8f9fa;
  /*字體顏色*/
  font-weight: bold;
  /*字體粗細*/
  background-color: transparent;
  /*背景顏色*/
  padding: 5px 10px;
  /*內距*/
  border-radius: 5px;
  /*邊框-半徑*/
  transition: all 0.5s ease;
  /*轉場效果*/
  display: block;
  width: 100%;
  border: 2px dotted #00b34a;
}

/* Navbar Contact : hover */
.nav-contact:hover {
  color: #f8f9fa;
  /*字體顏色*/
  background-color: rgba(0, 179, 74, 0.8);
  /*背景顏色*/
  display: block;
  width: 100%;
  border-bottom: 2px dotted #f8f9fa;
}

/* Navbar 手風琴 Button Background */
.navbar-toggler {
  background-color: rgba(248, 249, 250, 0.5);
}

/* Banner */
.banner {
  width: 100vw;
  background-image: url("/assets/media/工廠街景.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(1, 2, 3, 0.7);
}

/* Banner - 滿版 */
.banner-full {
  height: 100vh;
}

/* Banner - 短版 */
.banner-short {
  height: 30vh;
}

/* Banner Tittle Style */
.banner-title {
  font-weight: bold;
  background-color: rgb(01, 02, 03, 0.2);
  border-radius: 1rem;
  display: inline-block;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}